@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --site--font: 'Poppins', sans-serif;

    --site--bg: radial-gradient(50% 50% at 50% 50%, #1D2454 0%, #0B0E27 100%);
    --bg--dark: #0b0e27;
    --bg--color--purple: #343484;
    --bg--dark--purple: #191D3D;
    --bg--grey: rgba(185, 250, 245, 0.2);
    --bg--lightblue: #b9faf9;
    --bg--header--gradiant: linear-gradient(180deg, #111636 0%, rgba(17, 22, 54, 0) 100%);

    --text--color--lightBlue: #b9faf5;
    --text--color--pink: #C9B1F5;
    --text--color--purple: #343484;
    --text--color--grey: rgba(185, 250, 245, 0.2);

    --button--border: 0.6px solid var(--text--color--lightBlue);

    --box--shadow--big: 0px 0px 30px rgba(185, 250, 245, 0.25);
    --box--shadow: 0px 4px 10px rgba(185, 250, 245, 0.1);

    --text--shadow: 0px 10px 60px rgba(255, 255, 255, 0.4);

    --border--color--lighblue: var(--text--color--lightBlue);
}
.bg--grey{
    background: var(--bg--grey);
}
.bg--color--purple{
    background: var(--bg--color--purple);
}
.bg--dark--purple{
    background: var(--bg--dark--purple);
}
.bg--dark{
    background: var(--bg--dark);
}
.bg--lightblue{
    background: var(--bg--lightblue);
}
.site--bg{
    background: var(--site--bg);
}

.text--color--grey{
    color: var(--text--color--grey);
}
.text--color--pink{
    color: var(--text--color--pink);
}
.text--color--lightblue{
    color: var(--text--color--lightBlue);
}
.text--color--purple{
    color: var(--bg--color--purple);
}

.border-lightblue{
    border-color: var(--border--color--lightblue);
}

.site--font{
    font-family: var(--site--font);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    @apply text-white site--font;
    background: radial-gradient(50% 50% at 50% 50%, #1D2454 0%, #0B0E27 100%);
}
p:empty{
    @apply hidden;
}
.page--wrapper{
    @apply mx-auto;
}
.title {
    text-shadow: var(--text--shadow);
    @apply font-black text--color--lightblue;
    font-size: 2.875rem;
}
h3.title + p{
    text-shadow: var(--text--shadow);
}
.wrapper{
    @apply mx-auto my-20;
    max-width: 62.3125rem;
}
a, button, input[type="submit"], input[type="reset"], input[type="button"]{
    @apply transition-all;
}

/* Navigation styling */
div#site__header {
    @apply sticky mx-auto inset-x-0 top-0 px-12;
    z-index: 9999999;
    background: var(--bg--header--gradiant);
}
.site__navigation li{
    @apply mx-4;
}
.site__navigation li a{
    @apply text-lg;
}
.site__navigation li a:hover{
    @apply text--color--lightblue;
}
.site__connect-buton a{
    @apply bg--lightblue py-2.5 px-4 rounded-xl text-base font-medium text--color--purple;
}
.site__connect-buton a:hover{
    @apply bg--color--purple text--color--lightblue;
}

/* Banner styling */
div#site__banner {
    @apply mb-12;
}
.banner--dots-bg {
    @apply absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
}
.banner--dots-bg img{
    @apply mx-auto;
}
.banner-slider-images {
  position: absolute;
  top: -6rem;
  right: 5rem;
  width: 28rem;
}
.banner--waves {
  position: absolute;
  width: 100%;
  height: 23rem;
  bottom: 0;
  z-index: 9999;
  left: 0;
  right: 0;
}
.site--banner--slider .banner--waves{
    z-index: 0;
}
.banner--waves img{
  position: absolute;
  width: 100%;
}
img.banner-wave-1 {
    bottom: 4rem;
    height: 100%;
}
img.banner-wave-2 { 
    bottom: 1rem;
    height: 100%;
}
img.banner-wave-3 {
    bottom: 0rem;
    height: 100%;
}
img.banner-wave-4 {
    z-index: 99999;
    height: 100%;
    bottom: 2rem;
}
.banner--wrapper{
    max-width: 61.5rem;
    z-index: 999;
    @apply mx-auto w-full;
}
.banner--content{
    max-width: 45.0625rem;
}
h3.banner--title {
    @apply text-6xl font-semibold text--color--lightblue;
    text-shadow: 0px 10px 60px rgba(255, 255, 255, 0.4);
}
p.banner--text {
    @apply mt-6 text-xl text--color--lightblue;
    max-width: 35rem;
    text-shadow: var(--text--shadow);
}
.banner--btn {
    @apply mt-12;
}
.banner--btn a {
    border: var(--button--border);
    box-shadow: var(--box--shadow--big);
    @apply box-border rounded-xl py-2.5 px-6 bg--color--purple inline-block;
}
.banner--btn a:hover {
    @apply bg--lightblue text--color--purple;
}
.site--social--icons {
    @apply absolute right-12;
}
.site--social--icons ul li:not(:last-child) {
    @apply mb-4;
}
.artist--social--links li a img,
.site--social--icons li a img{
    @apply transition-transform duration-500;
}
.artist--social--links li a:hover img,
.site--social--icons li a:hover img{
    transform: rotate(360deg);
}

/* Media styling */
.media--wrapper {
    @apply text-center;
}
.media--item {
    @apply w-full mx-auto;
    max-width: 23.75rem;
}
.media--text{
    @apply mt-4; 
}
.media--text .media--highlight{
    @apply text--color--lightblue;
}
.media--text p:not(:first-child){
    @apply mt-4;
}

/* Mint Bos styling */
.wrapper.box--wrapper {
    @apply relative rounded-xl border-white border-solid;
    padding: 3.25rem 3.25rem 7.5rem;
    border-width: 0.0625rem;
    max-width: 57.5625rem;
}
.countdown-time {
    margin-top: -6.75rem;
    position: relative;
    z-index: 9999;
}
.countdown-time ul {
    @apply flex max-w-max rounded-xl mx-auto px-4 bg--dark;
    border: 0.0625rem solid var(--text--color--lightBlue);
    box-shadow: var(--box--shadow);
}
.countdown-time ul span {
    @apply block text--color--lightblue;
}
.countdown-time ul li {
    @apply mx-3 my-4 relative text-center pr-6 text-base leading-none;
}
.countdown-time ul li:last-child{
    @apply pr-0;
}
.countdown-time ul li:not(:last-child):before {
    content: ':';
    @apply absolute right-0 bottom-0 text--color--grey;
    font-size: 2rem;
}
.countdown-time ul span + span {
    font-size: 2rem;
    @apply text-white mt-2.5 font-bold;
}
.block-content-box {
    background: var(--bg--grey);
    border-width: 0.125rem;
    @apply p-14 w-full border-solid border-lightblue rounded-xl bg--grey;
}
.mintbox--wrapper .box-content{
    @apply mt-8;
}
.box-content > p{
    max-width: 95%;
    text-shadow: var(--text--shadow);
    @apply mx-auto mt-6;
}
.mint--block {
    @apply mt-12;
}
.block--img {
    max-width: 19rem;
    @apply mx-auto;
}
.box-highlight{
    text-shadow: var(--text--shadow);
}
.box-subtitle{
    font-size: 2.1875rem;
    text-shadow: var(--text--shadow);
    @apply font-black;
}
.result {
    @apply max-w-max px-3.5 font-black mt-4 mb-3 mx-auto;
    background: rgb(34 34 34 / 30%);
    padding-top: 0.43755rem;
    padding-bottom: 0.4375rem;
}
.btn a{
    @apply inline-block;
}
.btn a img{
    @apply transition-all duration-500;
}
.btn a:hover img{
    transform: scale(1.125);
}
.tune--button{
    @apply absolute bottom-1;
}

/* Sailmap Wrapper */
.wrapper.sailmap--wrapper{
    @apply py-10 px-20 bg--dark--purple overflow-hidden;
}
.sailmap--wrapper h2{
    @apply text--color--lightblue;
}
.sailmap--list {
    @apply mt-5;
}
.sailmap--list > ul > li {
    @apply border-solid border-lightblue mb-5 py-5 px-10 rounded-xl bg--grey delay-300 cursor-pointer; 
    border-width: 0.125rem;
}
.sailmap--list > ul > li:hover{
    background-color: rgba(201, 177, 245, 0.2);
}
.list--date span {
    @apply block;
}
span.list--year {
    @apply font-medium mt-1;
}
span.list--month {
    @apply text-2xl font-black;
}
.listing--data li:not(:first-child) {
    @apply mt-3;
}
.listing--data ul {
    list-style: disc;
    list-style-position: outside;
    @apply ml-5;
}
.discord--button {
    @apply text-center mt-12;
}
.discord--button a{
    @apply bg--color--purple py-2.5 px-6 font-medium text--color--lightblue;
    border-radius: 0.75rem;
    border: var(--button--border);
    box-shadow: 0px 0px 30px rgb(185 250 245 / 25%);
}
.discord--button a:hover{
    @apply bg--lightblue text--color--purple;
}

/* Faqs Styling */
.faqs--content .title{
    @apply text--color--lightblue mb-5 pr-12 relative;
}
.faqs--content .title img{
    @apply w-12 absolute right-0 -top-2;
}

/* Artists Styling */
.section--wrapper.wrapper.artist--wrapper {
    max-width: 68.75rem;
}
.artist--wrapper .title{
    @apply text--color--lightblue;
}
.artist--list {
    @apply mt-6;
}
.artist--list > ul {
    @apply flex flex-wrap -m-4 justify-center;
}
.artist--list > ul > li {
    @apply flex mt-4 items-center w-full p-4;
    max-width: 25%;
}
p.artist--name {
    @apply text-xl font-black;
}
p.artist--contact {
    @apply text-sm text--color--pink;
}
ul.artist--social--links {
    @apply flex;
}
ul.artist--social--links > li a {
    @apply flex w-7 h-7;
}
ul.artist--social--links > li {
    @apply m-1;
}
ul.artist--social--links {
    @apply mt-2 -mx-1 -mb-1;
}

/* Footer Styling */
div#site--footer {
    @apply relative overflow-hidden;
}
.footer--bg {
    @apply absolute left-0 right-0 overflow-hidden;
    height: calc(100% - 4rem);
}
.footer--bg img{
    width: inherit;
    height: 100%;
    max-width: inherit;
}
.footer--wrapper {
    @apply relative mx-auto p-4 overflow-hidden;
    max-width: 78.5625rem;
}
.footer--content {
    max-width: 22.1875rem;
}
.footer--content p{
    margin-top: 1.625rem;
}
.footer--content p span{
    @apply block;
}
.footer--wrapper .site--social--icons{
    position: inherit;
    right: inherit;
    top: inherit;
    left: inherit;
}
.footer--bottom p{
    @apply p-5 text-center text--color--lightblue;
}

.Sailmap{
    position: relative;
}
/* @keyframes ship {
    from {left: -2.5rem;}
    to {left: 80%;}	
} */
.icon--ship {
    position: absolute;
    /* left: -2.5rem; */
    top: 0;
    width: 10rem;
    right: 3rem;
    /* animation-name: ship;
    animation-duration: 15s;  
    animation-fill-mode: forwards; */
}

.light-house {
    position: absolute;
    top: -3.75rem;
    right: -3rem;
    width: 13rem;
}

.icon-waves {
    position: absolute;
    top: 4rem;
    width: 100%;
}

.profile-slider-cont{
    max-width: 37.625rem;
    @apply mx-auto w-full;
}
.profile-slider-data{
    max-width: 33.75rem;
    @apply mx-auto w-full;
}
.artist--img {
    margin-right: 1rem;
    padding: 0.125rem;
    border: 2px solid transparent;
    transition: box-shadow .5s, border .5s;
    overflow: hidden;
    border-radius: 100%;
}
.artist--list li:hover .artist--img {
    border: 2px solid #ffffff96;
    box-shadow: 0 0 6px #fff9;
}
.artist--list li:hover .artist--img img{
    transition: transform .5s;
}
.artist--list li:hover .artist--img img{
    transform: scale(1.25);
}
@media screen and (max-width: 40em){
    h3.banner--title{
        @apply text-xl;
    }
}
@media screen and (max-width: 71.9875em){
    body{
        @apply overflow-x-hidden;
    }
    div#site__header{
        @apply px-4;
    }
    .site__navigation{
        @apply hidden;
    }
    /* .sailmap--top--images{
        @apply overflow-hidden;
    } */
    .icon-waves img{
        @apply w-auto h-16;
        /* max-width: inherit; */
    }
    .icon--ship{
        right: 23%;
    }
    .light-house{
        top: -3rem;
        right: 4%;
    }
    .banner--wrapper{
        @apply mx-auto px-4 mt-8;
    }
    h3.banner--title{
        @apply text-2xl text-center;
    }
    h3.media--title.title{
        @apply hidden;
    }
    p.banner--text, .banner--btn{
        max-width: 16.5625rem;
        @apply text-xs ml-14;
    }
    .mobile--banner{
        @apply -mt-32
    }
    .mobile--banner img{
        @apply w-full;
    }
    .site--social--icons{
        top: 10rem;
        @apply left-4 right-auto;
    }
    .site--social--icons ul li {
        @apply mb-3;
    }
    .site--social--icons ul li a{
        @apply w-8 block;
    }
    #site__content{
        @apply px-4;
    }
    .wrapper.box--wrapper{
        @apply px-3;
    }
    .countdown-time {
        margin-top: -5.75rem;
    }
    .countdown-time ul li {
        @apply ml-1 text-xs;
    }
    .countdown-time ul span + span {
        font-size: 1.5rem;
    }
    .title{
        font-size: 2.25rem;
    }
    .wrapper.sailmap--wrapper{
        @apply px-0 pb-0 pt-40 border-0 bg-transparent;
    }
    .sailmap--list > ul > li {
        @apply px-5 relative mt-20;
    }
    .list--date {
        @apply absolute flex items-center left-0;
        top: -2.5rem;
    }
    .list--date span.list--year{
        @apply text--color--pink;
    }
    .list--date span + span{
        @apply ml-2;
    }
    .faqs--content .title{
        @apply text-left text--color--pink;
    }
    .faqs--content .title img{
        @apply top-2 w-20;
    }
    .faqs--content .title + p{
        @apply hidden;
    }
    .footer--wrapper .site--social--icons{
        @apply mt-6;
    }
    .footer--wrapper .site--social--icons ul{
        @apply text-center;
    }
    .footer--wrapper .site--social--icons ul li{
        @apply mb-0 inline-block mx-2;
    }
    .footer--bg img{
        width: inherit;
        height: 100%;
        max-width: inherit;
    }
    .media--item{
        @apply absolute left-0 right-0;
    }
    .media--item img{
        @apply mx-auto opacity-30;        
    }
    .site__connect-buton a{
        @apply text-base py-2.5 inline-block whitespace-nowrap;
    }
    .artist--list > ul{
        @apply block whitespace-nowrap overflow-x-auto;
    }
    .artist--list > ul > li{
        @apply inline-flex max-w-max;
    }
    .artist--img{
        @apply w-32;
    }
    .artist--detail{
        @apply w-full;
        max-width: calc(100% - 8rem);
    }
    .site__connect-buton{
        @apply hidden;
    }
    .mobile__navigation .site__connect-buton{
        @apply block;
    }
    .mobile__navigation .toggle--menu{
        position: relative;
        z-index: 999;
    }
    .mobile__navigation .nav-menu{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 0;    ;
        right: 0;
        text-align: center;
        background: radial-gradient(50% 50% at 50% 50%, #1D2454 0%, #0B0E27 100%);
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        overflow-y: auto;
        transition: ease .7s width, ease .2s opacity;
        opacity: 0;
        box-shadow: var(--box--shadow);
    }
    .mobile__navigation .nav-menu#active-menu{
        width: 15.125rem;
        opacity: 1;
    }
    .mobile__navigation .nav-menu ul,
    .mobile__navigation .nav-menu ul li{
        @apply py-4;
    }
    .toggle--menu span.active .hamburger--icon,
    .toggle--menu span .close--icon{
        @apply hidden;
    }
    .toggle--menu span.active .close--icon{
        @apply flex bg--lightblue text--color--purple rounded-full leading-none w-8 h-8 text-xl font-semibold justify-center items-center;
    }
    .nav-menu .site__logo img{
        @apply w-40 mx-auto;
    }
    .main--banner-image{
        @apply hidden;
    }
    .profile-slider-cont,
    .profile-slider-data{
        @apply my-12;
    }
    .media--mb--title{
        @apply mb-5;
    }
    .media--content{
        @apply flex items-center;
        min-height: 24rem;
    }
    .tune--button{
        @apply right-1;
    }
    .sailmap--top--images .desktop-view{
        @apply hidden;
    }
}
@media screen and (min-width: 48em){
    .site--banner--slider {
        position: relative;
        z-index: 999;
    }
    div#site__banner__slider {
        margin-top: -7rem;
        margin-bottom: 10rem;
        overflow: hidden;
        position: relative;
        padding-bottom: 5rem;
    }
}
@media screen and (min-width: 72em){
    .wrapper{
        @apply my-32;
    }
    .site__navigation ul{
        @apply flex;
    }
    .mobile__navigation{
        @apply hidden;
    }
    div#site__banner {
        @apply items-center flex pt-40 mb-0;
    }
    #site__banner .mobile--banner,
    h3.media--mb--title.title{
        @apply hidden;
    }    
    .main--banner-image{
        margin-top: -42rem;
        margin-bottom: 10rem;
    }
    .main--banner-image img{
        width: 100%;
    }
    .mint--block {
        @apply flex items-center mt-12;
    }
    .block-content-box {
        margin-left: 4.625rem;
    }
    .tune--button{
        @apply left-1 transform-none;
    }
    .media--wrapper {
        @apply items-center flex text-left;
    }
    .media--item {
        @apply mr-12;
    }
    .section--alignment-right .media--wrapper {
        @apply flex-row-reverse;
    }
    .section--alignment-right .media--item {
        @apply mr-0 ml-16;
    }
    .list--date {
        @apply pr-10 mr-10 text-center relative;
    }
    .sailmap--list > ul > li {
        @apply flex px-5;
    }
    .list--date:after {
        content: '';
        @apply w-0.5 bg--lightblue h-12 absolute right-0 top-1/2 transform -translate-y-1/2;
    }
    .faqs--wrapper.wrapper{
        @apply px-20;
    }
    .footer--wrapper {
        @apply flex justify-between items-center;
    }
    .wrapper.profile--wrapper{
        max-width: 71.375rem;
        @apply flex items-center mt-36;
    }
    .wrapper.sailmap--wrapper{
        @apply mt-60;
    }
    .sailmap--top--images {
        position: absolute;
        top: -6rem;
        left: 50%;
        z-index: -1;
        width: 57.5625rem;
        transform: translateX(-50%);
    }
    .sailmap--top--images .mobile--view{
        @apply hidden;
    }
    @keyframes ship {
        from {left: -2.5rem;}
        to {left: 80%;}	
    }
    .icon--ship {
        position: absolute;
        /* left: -2.5rem; */
        top: 0;
        width: 10rem;
        /* right: 3rem; */
        animation-name: ship;
        animation-duration: 15s;  
        animation-fill-mode: forwards;
    }
}
@media screen and (min-width: 72em) and (max-width: 86em){
    html{
        font-size: 1vw;
    }
}
@media screen and (min-width: 121em){
    html{
        font-size: 1vw;
    }
}